/*Color Variable Declaration */
:root {
--background: rgb(77, 77, 78);
--project_container: rgb(1, 139, 139);
  }
  
  /* Universal Selectors */
  * {
    font-family: "Mulish", sans-serif;
    color:var(--project_container);
  }
  
/* Element Selectors */
  body {
    margin: 10;
  }
  marquee p {
    color: red;
  }

  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: var(--background);
    color:var(--project_container);
  }
  ul li {
    list-style: none;
    margin-right: 20px;
    border-bottom: 3px solid var(--project_container);
    padding: 1px 3px;
    display: inline-flex;
    justify-content: flex-end;
  }
  
 /*ID Selectors*/
  #about-me, footer{
    display: flex;
    align-items:flex-start
    height: 100%;
  }
   
  #my-name {
    padding: 15px 10px 15px 25px;
    background-color:var(--project_container);
    color: var(--background);
    border-radius: 0 15px 15px 0;
  }


  #about-me h2, #work {
    border-right: 15px solid var(--project_container);
    width: 15%;
    text-align: right;
    align-items: center;
    padding: 15px 15px 20px 20px;
  }

  #about-me p, .contact-info {
    width: 70%;
    margin: 15px;
    text-align: center;
    padding: 25px;
  }

    /* Class Selectors */
    .photo {
        width: 15%;
        border-radius: 35%;
      }
    .container {
        background-image: url(./background.jpg);
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
      }
    .quote {
        background-color: var(--background);
        border-radius: 25px;
        padding: 5px;
        justify-content:center;
      }

      .container .quote {
        color:var(--project_container);
        margin: 25px;
        border-right: 3px solid var(--project_container);
        text-align: right;
        height: 100px;
        justify-content:flex-end;
      }
      
      .nav-links {
        color:var(--project_container);
        font-size: large;
        font-weight: 600;
        text-decoration: none;
      }

  .main-project {
    background-image: url(./1st\ project.png);
    background-size: cover;
    width: 110%;
    height: 650;
    display: flex;
    align-items: flex-start;
  }

  .projects:hover {
    transform: scale(1.50);
    z-index: 1;
    cursor: pointer;
  }
  .LED_Wall {
    background-image: url(./2nd\ project.png);
    background-size: cover;
    width: 35%;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }
  .Calculator {
    background-image: url(./3rd\ project.png);
    background-size: cover;
    width: 35%;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }
  .PastelPuzzles {
    background-image: url(./4th\ project.png);
    background-size: cover;
    width: 35%;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }
  .RunBuddy {
    background-image: url(./5th\ project.png);
    background-size: cover;
    width: 35%;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }

  .projects {
    width: 60%;
    margin: 40px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-project {
    margin-top: 15px;
  }
  
  .description {
    background-color: var(--background);
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 0 20px 20px 0;
  }
